.container {
  width: 98%;
  padding-top: 10%
}

.logo {
  border-radius: 50%;
}

.text-muted a {
  color: #989898;
}

.text-muted a:hover {
  color: grey;
}

.fa a:active, a:hover, a:visited {
  text-decoration: none;
}

/* Tool Colors */
.general {
  background-color: #0095af;
}

.general .card-title {
  color: #f3f3f3;
}

.general .card-text {
  color: #f3f3f3;
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -moz-animation: fadein 2.5s; /* Firefox */
    -ms-animation: fadein 2.5s; /* Internet Explorer */
    -o-animation: fadein 2.5s; /* Opera */
    animation: fadein 2.5s;
}
    


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.card-pin:hover .overlay {
  opacity: .5;
  border: 0px solid #f3f3f3;
  transition: ease .5s;
  background-color: #000000;  
/*   cursor: zoom-in; */
}

.more {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
}

.download {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  text-transform: uppercase;
  transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
}

.card-pin:hover .card-title {
  color: #ffffff;
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
}

.card-pin:hover .more a {
  text-decoration: none;
  color: #ffffff;
}

.card-pin:hover .download a {
  text-decoration: none;
  color: #ffffff;
}

.social {
	position: relative;
	transform: translateY(-50%);
}

.social .fa {
  margin: 0 3px;
}    


{
    color: #fff!important;
}
.bg-purple-600 {
    background-color: #9463f7!important;
}
.p-30 {
    padding: 30px!important;

}

{
    padding: 0!important;
}
.card-block {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.429rem;
}

.blue-grey-700 {
    color: #37474f!important;
}

.font-size-20 {
    font-size: 20px!important;
}

.font-size-18 {
    font-size: 18px!important;
}

.font-size-40 {
    font-size: 40px!important;
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
    
}

.btn-lg, .btn-group-lg>.btn {
    padding: 9px 14px;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 2px;
    border: 1px solid #9463f7;
    font-size: 16px;
}


input {
    font-size: 16px;
  }

.bg-purple-600 {
    background-color: #9463f7!important;
    text-align: center;
    color: #fff;
}
.bg-white{
	    border-bottom: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    text-align: center
}

.hide{display: none}

.show{display: block}